@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: 237 76% 64%;
  --primary-fg: 0 0% 100%;
  --secondary: 223 32% 26%;
  --background: 0 0% 6%;
  --foreground: 0 0% 100%;
}
